In [1]:
import numpy as np
import pandas as pd
import re

from metadataFromID import GoodReadsScraper
from dataMunging import munging

In [2]:
books = [72657, 34941133, 1300228, 20898092]

In [3]:
first = GoodReadsScraper(books)
y = first.html_listed()
metadata = first.metadata()

In [4]:
df = pd.DataFrame.from_dict(metadata)

In [5]:
df

,book_id,author,title,genre,isbn13,pages,released,edition,rating,count
0,72657,Paulo Freire,\n Pedagogy of the Oppressed\n,"[[Education], [Nonfiction], [Philosophy]]",9780826412768,192 pages,\n (first published 1968)\n ...,Paperback,\n 4.28\n,"\n 23,326\n ratings\n"
1,34941133,Ray Dalio,\n Principles: Life and Work\n,"[[Business], [Nonfiction], [Self Help]]",B071CTK28D,593 pages,\n (first published 2011)\n ...,Kindle Edition,\n 4.17\n,"\n 25,603\n ratings\n"
2,1300228,Kevin Marshall,\n Pro Active Record: Databases with Ruby...,"[[Computer Science], [Programming], [Science]]",9781590598474,280 pages,\n (first published January 1st 2...,Paperback,\n 2.74\n,\n 27\n ratings\n
3,20898092,Charlotte Brontë,\n Jane Eyre\n,"[[Classics], [Fiction], [Romance]]",9781631060182,528 pages,\n (first published October 16th ...,Paperback,\n 4.12\n,"\n 1,569,749\n ratings\n"

### Wuuuuuuuusaaaa

In [6]:
df = munging(df)

C:\Users\Hellrox\Desktop\Projects\Aristarchus\data\dataMunging.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre'][i] = ', '.join(g)

In [7]:
df

,book_id,author,title,genre,isbn13,pages,released,edition,rating,count
0,72657,Paulo Freire,Pedagogy of the Oppressed,"Education, Nonfiction, Philosophy",9780826412768,192,1968,Paperback,4.28,23326
1,34941133,Ray Dalio,Principles: Life and Work,"Business, Nonfiction",B071CTK28D,593,2011,Kindle Edition,4.17,25603
2,1300228,Kevin Marshall,Pro Active Record: Databases with Ruby and Rails,"Programming, Science",9781590598474,280,2007,Paperback,2.74,27
3,20898092,Charlotte Brontë,Jane Eyre,"Classics, Fiction, Romance",9781631060182,528,1847,Paperback,4.12,1569749