In [1]:
import numpy as np
import pandas as pd
import re

from MetadataCollector import metadata_xml
from xmlCleanDelete import extract_meta

In [2]:
df = pd.read_csv("bookspt1.csv")
df.shape

(352044, 1)

In [3]:
df2 = pd.read_csv("bookspt2.csv")
df2.shape

(662061, 1)

In [4]:
df2.count()

book_id    662061
dtype: int64

In [5]:
frames = [df, df2]
result = pd.concat(frames)
result.shape

(1014105, 1)

In [6]:
result.tail()

         book_id
662056  39216169
662057  35705880
662058  32672195
662059   1366192
662060  31177653

In [7]:
result.drop_duplicates(keep=False, inplace=True)

In [8]:
result.shape

(310017, 1)

In [9]:
books_02 = list(result.iloc[154016:, 0])

In [ ]:
metadata_xml(books_02)

STOP HERE

In [ ]:
df = pd.DataFrame.from_dict(metadata)

In [ ]:
df.head()

In [ ]:
df.shape

### Wuuuuuuuusaaaa

In [ ]:
wine